<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div class="center">
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://github.com/tomgeekery" "svg" "github") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/tomgeekery" "svg" "twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/ckeller.tomgeekery/" "svg" "instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
